@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

body {
  background-color: lightblue;

}

.container {
  display: flex;
  width: 500px;
  margin: auto;
  text-align: center;
  /*border: 6px solid black;*/
}

h1 {
  font-family: 'Sigmar One', sans-serif;
  color: black;
  text-align: center;
}

td {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid black;
}

.uncovered {
  background-color: grey;
}

.flagged {
  background-color: #000099;
}

.mine {
  background-color: #FF0000;
}

a {
  text-decoration: none;
}
 a:visited {
   color: black;
 }

  .game {
   margin-left: 150px;
   text-align: center;

 }

 .instructions {
   margin-left: 100px;
   text-align: center;
   color: black;
 }

 .mines {
   margin-left: 100px;
   text-align: center;
 }

 .new {
   margin-left: 150px;
   text-align: center;
 }

 button {
   padding: 10px;
 }
